= simple_form_for [:admin, @article], html:{name:'article'} do |f|
  = f.error_notification
  %table
    %div#chinese_form{style:"display:block"}
      %div
        %span *中文标题
        .row
          .span5
      = f.input :content, :as => :kindeditor, :input_html => { :items => [ 'undo', 'redo', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull', 'fontname', 'fontsize', '|', 'forecolor', 'bold','italic', 'underline','flash', '|', 'image', 'media'] }
      = f.input :tag_list
  .form-actions
    - if action_name == "new" || action_name == "create"
      = f.button :submit, "创建文章"
    - if action_name == "edit" || action_name == "update"
      = f.button :submit, "更新文章"
    = f.button :button, '取消', :type => 'reset', :class => 'btn', :id => "cancle"

= javascript_include_tag "admin/articles"
= stylesheet_link_tag "admin/error"