.container
  .span12
    .row
      .span1
      .span7.article_left
        .article_panel
          .whole_article
            = @article.chinese_title
            = raw(@article.chinese_content)
          %p.blank
        - @article.comments.each do |comment|
          .article_panel.comment
            %h4 
              = comment.name
            %p
              = comment.content
            .comment_time
              = comment.created_at
        .article_panel.comment
          %h3 评论下吧
          = simple_form_for @comment, url: article_comments_path(@article), method: :post do |f|
            = f.input :name, label: false, input_html:{ class:"input-xlarge"}, placeholder: "名称"
            = f.input :email, label: false, input_html:{class:"input-xlarge"}, placeholder: "邮箱"
            = f.input :content, label: false, as: :text,placeholder: "留言", input_html:{rows: "5", class:"input-xxlarge"}
            .action         
              = f.submit "提交", class: "btn"
      .span3.article_right
        .article_panel
          .widgetitle 最新文章
          %ul.article_list
            - @articles.each do |article|
              %li
                =article.chinese_title
        .article_panel
          .widgetitle 标签
          %ul.article_mark
            %li 生活
            %li ruby on rails
      .span1