%header#banner.hero-unit.no-radius
  .row
    .span12.content.text_center{style:"border:1px soild #000"}
      - unless alert.blank?
        .alert.alert-error.fade.in
          %a.close{"data-dismiss" => "alert"} &times;
          = t(alert, scope:"alert")
      - unless notice.blank?
        .alert.alert-success.fade.in
          %a.close{"data-dismiss" => "alert"} &times;
          = t(notice, scope:"notice")
  .container.text-center
    %h1
  %span.banner-link.hidden-phone
    %a《地平线》-原研哉
%article.container
  %section#description.row.description
    .span10.offset1.panel-description.button-text-panel.text-center
      .padding-middle
        %img.profile.img-circle.loading{src: "http://xiaolong.u.qiniudn.com/profile.jpg"}
        %h3 杜小龙，22 岁，爱好旅行、篮球、编程、长跑
        %hr.soften/
        %p
          %span.hidden-phone> 这是我的个人网站，
          欢迎访问
          %a{href: "http://jianshu.io/users/bc8d0113cc44/latest_articles", target: "_blank"}> 我的博客
          和
          %a{href: "https://github.com/HuberyDu", target: "_blank"} 我的github
  %section#photography.row
    .span12.panel
      .row
        .span8
          #photograph.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#photograph"}
              %li{"data-slide-to" => "1", "data-target" => "#photograph"}
              %li{"data-slide-to" => "2", "data-target" => "#photograph"}
              %li{"data-slide-to" => "3", "data-target" => "#photograph"}
            .carousel-inner
              .active.item
                %img{src: "http://xiaolong.u.qiniudn.com/2.jpeg?imageView/2/h/650"}/
              .item
                %img{src: "http://xiaolong.u.qiniudn.com/1.jpeg?imageView/2/h/650"}/
              .item
                %img{src: "http://xiaolong.u.qiniudn.com/3.jpeg?imageView/2/h/650"}
              .item
                %img{src: "http://xiaolong.u.qiniudn.com/4.jpeg?imageView/2/h/650"}
            %a.carousel-control.left{"data-slide" => "prev", href: "#photograph"} ‹
            %a.carousel-control.right{"data-slide" => "next", href: "#photograph"} ›
        .span4
          .padding-large
            %h1 旅行
            %p.wo 每个人在他的人生发轫之初，总有一段时光，没有什么可留恋，只有抑制不住的梦想，没有什么可凭仗，只有他的好身体，没有地方可去，只想到奔向远方
  %section#marathon.row
    .span12.panel
      .row
        .span5
          .padding-large
            %h1 马拉松
            %p.wo 每个人在他的人生发轫之初，总有一段时光，没有什么可留恋，只有抑制不住的梦想，没有什么可凭仗，只有他的好身体，没有地方可去，只想到奔向远方
        .span7
          #mara.carousel.slide
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#mara"}
              %li{"data-slide-to" => "1", "data-target" => "#mara"}
              %li{"data-slide-to" => "2", "data-target" => "#mara"}
            .carousel-inner
              .active.item
                %img{src: "http://xiaolong.u.qiniudn.com/23.jpeg"}/
              .item
                %img{src: "http://xiaolong.u.qiniudn.com/22.jpeg"}
              .item
                %img{src: "http://xiaolong.u.qiniudn.com/21.jpeg"}
            %a.carousel-control.left{"data-slide" => "prev", href: "#mara"} ‹
            %a.carousel-control.right{"data-slide" => "next", href: "#mara"} ›
  %section#programme.row
    .span12.panel
      .row
        .span12
          .padding-large
            %h1 编程
            
  / 联系 Contact
  %section#contact.row
    .span12.panel
      .row
        .span12
          .padding-large
            %h1 联系
            .muiti-contact
              %span.email
                %email{"data-toggle" => "tooltip", title: "Email"} duxiaolong92@gmail.com
        .span12
          .padding-large
            .row
              .span2
                %h1 留言
              .span9
                .leave_message
                  = simple_form_for @leave_message, url: leave_messages_path, method: :post do |f|
                    = f.input :name, label: false, input_html:{ class:"input-xxlarge"}, placeholder: "姓名"
                    = f.input :email, label: false, input_html:{class:"input-xxlarge"}, placeholder: "邮箱"
                    = f.input :comment, label: false, as: :text,placeholder: "留言", input_html:{rows: "5", class:"input-xxlarge"}
                    .action
                      = f.submit "提交", class: "btn"





                      